# Day:3

1. Basic Syntax + Comments:

In [1]:
# print something on the screen
print("wELCOME to the ML course it's ")
print('Welcome to the ML course')
print(''' Welcome to the ML course''')

wELCOME to the ML course
Welcome to the ML course
 Welcome to the ML course

In [6]:
 print('Welcome to the ML course') #SPACING

Welcome to the ML course

2. Operators:

In [10]:
## Arithmetic Operators

print(2+9) #addition
print(3-6) # subtraction
print(9*2) # multiplication
print(10/3) #division
print(6%4) #modulus
print(4**2) #exponential
print(4^2) #??
print(6//4) #floor division

11
-3
18
3.3333333333333335
2
16
6
1

In [13]:
# Assignment operators

a = 12

a += 4 # a = a + 12

In [14]:
# comparison operator:

a == b # a is euqal to b
a != b # a is not equal to b
a > b # a is greater than b
a <= b # a is less than and equal to b

In [ ]:
# Logical operator
## AND OR NOT

3. Data Types + variable definition

In [18]:
## STRING : 
s = 'Adan'

# indexing: ginti python may 0 say shuru hoti hay

print(type(s)) #display the data type of the variable

<class 'str'>

In [19]:
## INTEGER:
a = 12 # integer: 
b = '12' # string type
c = 12.34 #float

## TASK: HOW MANY DATA TYPES WITH EACH EXAMPLE

In [20]:
B = """ Python is LIT, It's cool..!! """

4. Input Functions:

In [22]:
name = input("Name:")
print('Welcome', name) #concatination

Welcome Adan

In [24]:
# initial score , 5 grace , print updated score

##score to btao

score = int(input("Score:")) #type conversion: string to integer
updated_score = score + 5
print("Your latest score is:", updated_score)


## TASK: tax wrt age
### input age
### < 18 NO TAX, 18-30 1.2% TAX, 30-50 2% DAY, < 50 no tax


## Task: convert string to float, int to float

Your latest score is: 17

5. IF ELSE ELIF:

In [26]:
# if else

## even or odd number
num = int(input("Enter a Number: "))  # input function to take user's input and convert it into integer.
if num %2 == 0:
    #print("Even Number")
    print(num, "is even.")
else:
    #print("Odd Number")
    print(num, "is odd.")

ValueError: invalid literal for int() with base 10: '45.3'

In [31]:

# if elif else

num = float(input("Enter a Number: "))  # input function to take user's input and convert it into integer.
if num %2 == 0:
    #print("Even Number")
    print(num, "is even.")
elif num %2 == 1:
    #print("Odd Number")
    print(num, "is odd.")
else:
    print("Number is not integer")

Number is not integer

6. Functions:

In [37]:
# area of the circle

def area(radius,pi):
    area = pi * (radius ** 2)
    print("area of the circle is:", area)

In [38]:
area(3,4)

area of the circle is: 36

In [ ]:
## FUNCTION: RANDOM QUOTES SHOW 
## HINT: random library
## quote = [xyz, yui, wui]
## random quote display

7. Loops:

In [42]:
## for loop
khanay = ['pizza','karahi','hamburger','chaat'] #khanay ki list
for x in khanay:
 print(x) #local varibale
#print(x) #global varibale

pizza
karahi
chaat
chaat

In [43]:
khanay = 'biryani' #khanay ki list
for x in khanay:
 print(x)

b
i
r
y
a
n
i

In [45]:
## while loop

i = 1
while i < 5:
    print(i)
    if i == 3:
        break
    i +=1

1
2
3

In [46]:
khanay = ['pizza','karahi','hamburger','chaat'] #khanay ki list
for i in khanay:
    print(i)
    if i == 'hamburger':
        break

pizza
karahi
hamburger

In [ ]:
khanay = ['pizza','karahi','hamburger','chaat'] #khanay ki list
while

IMPORTANT LIBRARIES:
1. pandas
2. numpy
3. seaborn
4. matplotlib
5. scikit learn